/* Poppins 400 regular, 400 regular italic, 700 bold, and 700 bold italic */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');

:root {
    --main-color: rgb(218, 55, 67);
    --main-grey-values: 45, 51, 63;
    --main-grey: rgb(var(--main-grey-values));
    --light-grey: rgb(192,192,192);
    --main-to-white-gradient: linear-gradient(to top, var(--main-color) 0%, rgba(255,255,255,1) 39%);

    font-family: "Poppins Regular", Helvetica, sans-serif;
    background-color: white;
    color: var(--main-grey);
}

body, h1 {
    margin: 0;
}

h1 {
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex-row {
    display: flex;
}

button {
    cursor: pointer;
    background-color: white;
    border: 0.08rem solid #d8d9db;
    border-radius: 0.2rem;
}

button.hover-effect {
    transition: all 0.2s ease;
}

button.hover-effect:hover {
    background-color: var(--main-color);
    color: white;
}

ul {
    list-style: none;
}
