.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 51, 63, 0.5);
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    background-color: white;
    padding: 4rem;
    border-radius: 0.2rem;
}
