/* nav specific css styling */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.56rem;
}

.masthead {
    height: 2.5rem;
    width: auto;
}
