.profile-page {
    display: grid;
    grid-template-areas: "head head"
                         "nav  main"
                         "nav  main";
    grid-template-columns: max(16%, 10rem) 80%;
    grid-template-rows: auto auto;
    max-width: 65rem;
    margin: auto;
}

.profile-header {
    grid-area: head;
    background-color: white;
    border-radius: 0.3rem;
    margin: 1.2rem 0;
    padding: 1rem;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.profile-header h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.profile-navigation {
    grid-area: nav;
    color: #999;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 0;
    margin: 0.8rem 0 0 1rem;
    letter-spacing: 0.6px;
}

.profile-navigation li {
    margin-bottom: 0.9rem;
}

.profile-navigation a.active {
    color: var(--main-grey);
}

.profile-navigation a.active:hover {
    color: var(--main-color);
}

.profile-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.card-background {
    background-color: white;
    border-radius: 0.35rem;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    padding: 1rem;
}

.profile-content-header {
    font-weight: 500;
    font-size: 1.8rem;
}

.profile-content .favorites {
    display: flex;
    min-height: 20rem;
    justify-content: center;
}

.profile-content .favorites .spinner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-color-hover {
    transition: color 0.25s ease;
}

.main-color-hover:hover {
    color: var(--main-color);
}

.profile-content .reservations h2 {
    margin: 0 0 0.65rem;
    font-weight: 400;
}

.profile-content .reservations .spinner {
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-content .reservations-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-content .reservation-card {
    padding: 1.4em;
    display: grid;
    grid-template-columns: 12em 5fr;
    grid-template-rows: 10rem;
    justify-content: center;
    align-items:flex-start;
    gap: 0.8em;
    border-radius: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: box-shadow 0.25s ease;
    position: relative;
}

.reservation-card a {
 font-weight: 600;
 font-size: 1.4rem;
}

.reservation-card .card-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.8em;
    height: 100%;
}

.reservation-card .card-thumbnail img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.reservation-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reservation-card-buttons {
    position: absolute;
    bottom: 0px;
    right: 20px;
}
