.restHeaderImg {
    height: 460px;
    width: 100%
}

.restProfile {
    width: 80%;
    margin: 0 auto;
}

.restName {
    border-bottom: 1px solid var(--main-grey);
    padding: 8px 0;
}

.restOverview {
    border-bottom: 1px solid var(--main-grey);
}

.restDetails {
    border-bottom: 1px solid var(--main-grey);
}

.reservation-button {
    margin: 20px 0;
}

.rest-detail-header {
    margin: 15px 0;
}

@media (max-width:1055px) {
    .restHeaderImg {
        height: 296px;
    }
}