.restHeaderImg {
  height: 460px;
  width: 100%;
  object-fit: cover;
}

.restProfile {
  width: 80%;
  margin: 0 auto;
}

.restName {
  border-bottom: 1px solid var(--main-grey);
  padding: 8px 0;
}

.restOverview {
  border-bottom: 1px solid var(--main-grey);
}

.restDetails {
  border-bottom: 1px solid var(--main-grey);
}

.reservation-button {
  margin: 20px 0;
}

.rest-detail-header {
  margin: 15px 0;
}

.restaurant-gallery {
  border-bottom: 1px solid var(--main-grey);
}

.review {
  border-bottom: 1px solid var(--light-grey);
  margin: 10px 0;
  min-width: 450px;
  padding-bottom: 0.4rem;
}

.review:last-child {
  border-bottom: 0;
}

.rating-span {
  margin: 0 5px;
}

.rating-score {
  font-size: 1.05rem;
  color: var(--main-color);
  font-weight: 600;
}

.review-ratings {
  display: flex;
  flex-wrap: nowrap;
}

.review-user {
  text-align: right;
}

.rest-image-gallery {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.rest-image-empty {
  height: 50px;
}

.rest-image-container {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(3, 200px);
  grid-template-areas:
    "a a b"
    "a a c";
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  overflow-x: auto;
  width: calc(100% - 2rem);
  margin: auto;
  grid-gap: 1rem;
  gap: 1rem;
  padding: 0.8rem 0 1.2rem;
}

.rest-image-gallery.first {
    grid-area: a;
}

@media (max-width: 1055px) {
  .restHeaderImg {
    height: 296px;
  }
}

.restDetail {
  padding-bottom: 0.5rem;
}
