.review-action-buttons {
    display: flex;
    flex-direction: row;
}

.review-button {
    margin-right: 15px;
}

.review-card a {
    font-weight: 600;
    font-size: 1.4rem;
}

.review-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }