/* Code is from https://codepen.io/Re-Krass/pen/EJVqQy and modified to fit our style */

html {
  /* scrollbar firefox */
  scrollbar-color: transparent rgba(33, 33, 33, 0.5);
}

::-webkit-scrollbar {
  /* width */
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: rgba(33, 33, 33, 0.12);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: rgba(33, 33, 33, 0.5);
}


.scroll-bar-container {
    overflow-x: hidden;
}
